#page > * {
    margin: 1em 0;
}

#page .bar {
    display: flex;
    align-items: center;
}

.bar .icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--colorPrimary);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2em;
    color: white;
}

#page .bar,
main .top-card-text .excerpt {
    border-bottom : 1px solid;
    border-color: var(--colorBgLight);
}

#page .bar h2,
main .top-card-text .tag,
main .top-card-text .top-card-title,
.top-art-title {
    font-family: var(--fontTitleArticle);
    text-decoration: none;
}

#page .bar h2 {
    color: var(--colorPrimary);
    font-size: 2.2em;
    font-weight: bold;
    margin-left: 0.3em;
}

.top-card-text {
    padding: 0em 0.5em;
}

main .top-card-img img {
    width: 100%;
}

.tag {
    text-transform: uppercase;
    color: var(--colorTextLight);
    display: block;
    text-decoration: none;
    font-size: 0.7em;
    font-weight: 500;
    margin: 0.7em 0em;
}

main .top-card-text .excerpt {
    font-family: var(--fontText);
    color: var(--colorTextLight);
    font-size: 0.9em;
    letter-spacing: 0.02em;
    line-height: 1.3em;
    margin: 0.6em 0em;
    padding-bottom: 0.65em;
    font-weight: 400;
}

main .top-card-text .date {
    font-family: var(--fontSubTitleArticle);
    color: var(--colorTextLight);
    font-size: 0.85em;
}

aside {
    background-color: burlywood;
    height: 500px;
}

main .top-card-text .top-card-title {
    display: block;
    font-size: 1.4em;
    font-weight: 500;
}

@media only screen and (min-width: 700px) {
    #page {
        display: grid;
        grid-template-columns: 90%;
        justify-content: center;
    }

    main .top-card {
        display: flex;
    }

    main .top-card-text .tag {
        margin-top: 0em;
    }

    .top-card-text {
        padding: 0em;
    }

    .top-card-img {
        width: 130%;
        margin-right: 1em;
    }
}

@media only screen and (min-width: 900px) {
    #page {
        grid-template-columns: 55% 30%;
        grid-column-gap: 3%;
        max-width: var(--maxWidth);
        margin: auto;
    }
    #page .bar {
        grid-column: span 2;
    }

    .top-card-img {
        width: 165%;
    }

}