:root {
    /* :root{--test: pink;} body{background-color: var(--test);} */

    /* color */
    --colorPrimary: #002c4e;
    --colorSecondary: #e00025;
    --colorBgLight: #ececec;
    --colorText: black;
    --colorTextLight: #a3a3a3;
    --colorBottom:#001126;
    --colorFootertext: white;
    --colorFooterBottomtext: #757E8A;
    --colorFooterBottomCopy:#2E3C4D;
    --colorCardbg:#FAF9F9;
 
    /* font */
    --fontText: 'Roboto', sans-serif;
    --fontTitleArticle: 'Roboto Slab', sans-serif;
    --fontSubTitleArticle: 'Lato', sans-serif;


    /* size  */
    --heightNav1: 90px;
    --heightNav2: 90px;
    --maxWidth: 1200px;

}