/* System Grid MAIN */
#page > * {
    margin: 2em 0;
    font-family: var(--fontText);
}

/* NAV */
#nav {
    color: var(--colorPrimary);
}
#nav a {
    display: inline-block;
}
    /* nav 1 */
#nav #header {
    height: var(--heightNav1);    
    display: -webkit-box;    
    display: flex;
    font-size: 1.6em;
    max-width: var(--maxWidth);
    margin: 0 auto;
}
#nav #header img {
    width: 100%;
}
#nav #header > * {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    margin: 0 20px;
}
#nav #header .center {
    -webkit-box-flex: 100;
            flex-grow: 100;
}
#nav #header .center a {
    width: 70px;
}
#nav #header .menu {
    display: none;
}

    /* nav 2 */
#nav #navbar {
    background-color: var(--colorPrimary);
    height: var(--heightNav2);
    color: var(--colorFootertext);
    display: -webkit-box;
    display: flex;
    text-align: center;
    font-size: 0.65em;
    font-weight: 500;
    font-family: var(--fontTitleArticle);
    overflow-x: auto;
}
#nav #navbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #ececec;
}
#nav #navbar::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #c3c3c3;
}
#nav #navbar ul {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: auto;
}
#nav #navbar * {
    display: block;
}
#nav #navbar a {
    width: 90px;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
#nav #navbar a:hover {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
}
#nav #navbar a > * {
    margin: 0 auto;
}
#nav #navbar img {
    margin-bottom: 5px;
    width: 45px;
    height: 45px;
}
#nav #navbar span {
    text-transform: uppercase;
}



/* Article / Top */
#page .bar {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
}
.bar .icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--colorPrimary);
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    margin: 0.2em;
    color: white;
}
#page .bar,
main .top-card-text .excerpt {
    border-bottom : 1px solid;
    border-color: var(--colorBgLight);
}
#page .bar h2,
.tag-word,
main .top-card-text .top-card-title,
.top-art-title {
    font-family: var(--fontTitleArticle);
    text-decoration: none;
}
#page .bar h2 {
    color: var(--colorPrimary);
    font-size: 2.2em;
    font-weight: bold;
    margin-left: 0.3em;
}
.top-card {
    margin-bottom: 2em;
}
.article>*:not(.top-card-img) {
    margin: 0.5em;
    margin-left: 15px;
    margin-right: 15px;
}
.top-card-text{
    padding: 0em 0.5em;
}
main .top-card-img img {
    width: 100%;
}
.tag-word {
    text-transform: uppercase;
    color: var(--colorTextLight);
    display: block;
    text-decoration: none;
    font-size: 0.7em;
    font-weight: 500;
    margin: 0.7em 0em;
}
main .top-card-text .excerpt,
.article p,
.article h4 {
    letter-spacing: 0.01em;
    line-height: 1.2em;
}
main .top-card-text .excerpt {
    font-family: var(--fontText);
    color: var(--colorTextLight);
    font-size: 1em;
    margin: 0.6em 0em;
    padding-bottom: 0.65em;
    font-weight: 400;
}
.date-from {
    font-family: var(--fontSubTitleArticle);
    color: var(--colorTextLight);
    font-size: 0.85em;
}
main .top-card-text .top-card-title,
.top-art-title {
    display: block;
    font-size: 1.4em;
    font-weight: 500;
}
.tag-art {
    font-size: 1.3em;
    margin-left: 0.3em;
}
.title-art {
    font-size: 1.9em;
    margin-left: 0.2em !important;
}
.article .intro,
.article h4 {
    font-weight: 500;
}
.article p {
    font-size: 1.1em;
}
.article h4 {
    padding: 0.4em 0em;
    font-size: 1.3em;
}
.similar-content {
    padding: 1em;
    border-left: 2px solid var(--colorBgLight);
}
.similar-content a {
    color: var(--colorPrimary);
}

/* Mini-cards CSS */

#mini-cards{
    margin: 1em;
}
#mini-cards .minicard {
    margin-bottom: 3em;
}
#mini-cards .title-minicard {
    font-family: var(--fontTitleArticle);
    font-size: 1.5em;
    font-weight: 500;
    padding: 1em 0em;
}
#mini-cards .minicard-tag .tag-word {
    display: inline-block;
    margin-right: 0.2em;
}
#mini-cards .minicard-img {
    position: relative;
    margin-top: 0.5em;
    height: 32vh;
}
#mini-cards .minicard-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
#mini-cards .minicard-img .icon {
    position: absolute;
    top: -1em;
    left: 0.5em;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--colorPrimary);
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    margin: 0.2em;
    color: white;
    font-size: 1.5em;
    box-shadow: 0 2px 3px #000000c2;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
#mini-cards .minicard .top-card-text {
    padding: 0em;
}
#mini-cards .minicard .date-from{
    border-top : 1px solid;
    border-color: var(--colorBgLight);
    margin-top: 0.5em;
    padding-top: 0.5em;
}

/* HOME : LIST ARTICLE (CARD) */
    /* general */
#article .card-article {
    padding-bottom: 2em;
}
#article .card-article > * {
    padding: 0.5em 0;
    display: block;
}
#article .card-article > :not(.img) {
    margin: 0 15px;
}
    /* title */
#article .card-article .title {
    font-family: var(--fontTitleArticle);
    font-size : 2rem;
    font-weight: 600;
}
    /* subtitle */
#article .card-article .subtitle {
    color: var(--colorTextLight);
    font-size : 1.1rem;
    font-weight: 400;
    line-height: 1.5;
}
    /* catagory */
#article .card-article .category {
    font-family: var(--fontTitleArticle);
    color: var(--colorTextLight);
    font-size: 0.75rem;
    font-weight: 500;
    box-shadow: 0 0.5px;
    padding-bottom: 3px;
}
#article .card-article .category > a {
    margin-right: 10px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
#article .card-article .category > a:hover {
    text-decoration: underline;
}
    /* img */
#article .card-article .img {
    position: relative;
    min-height: 200px;
}
#article .card-article .logo {
    position: absolute;
    top: -4px;
    left: 1em;
    width: 45px;
    height: 45px;
    padding: 3px;
    border-radius: 50%;
    background-color: var(--colorPrimary);
    box-shadow: 1px 3px 2px rgba(0,0,0,.05), 1px -1px 2px rgba(0,0,0,.2);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
#article .card-article .logo:hover,
.minicard .icon:hover {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
}
#article .card-article .image {
    width: 100%;
}

/* ASIDE */
#aside {
    margin-top: 5em;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
}
#aside > * {
    margin: 0 15px;
    margin-bottom: 4em;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
#aside * {
    display: block;
    text-align: center;
}
#aside > *:not(.facebook) {
    max-width: 467px;
}
#aside .title {
    font-family: var(--fontTitleArticle);
    font-weight: 600;
    margin-bottom: 1.7em;
}
    /* facebook */
#aside .facebook {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    min-height: 300px;
}
#aside .facebook * {
    border-radius: 5px;
}
    /* newsletter */
#aside .newsletter {
    position: relative;
    border-radius: 10px;
    padding: 20px 15px;
    border: 4px solid var(--colorTextLight);
    border-radius: 5px;
    width: 78%;
}  
#aside .newsletter > * {
    display: block;
    margin-bottom: 1.5em;
    font-family: var(--fontText);
    font-weight: 500;
}
#aside .newsletter > *:last-child {
    margin-bottom: 0;
}
#aside .newsletter .title {
    margin-top: 3em;
}
#aside .newsletter .subtitle {
    margin-bottom: 0.7em;
}
#aside .newsletter .action {
    font-weight: 300;
}
#aside .newsletter .nospan {
    font-family: var(--fontSubTitleArticle);
    font-size: 0.8em;
    color: var(--colorTextLight);
}
#aside .newsletter .img {
    position: absolute;
    top: -30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 70px;
    height: 70px;
    padding: 3px;
    border-radius: 50%;
    background-color: var(--colorPrimary);
    box-shadow: 1px 3px 2px rgba(0,0,0,.05), 1px -1px 2px rgba(0,0,0,.2);
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
}
#aside .newsletter .logo {
    width: 40px;
    -webkit-filter: invert(1);
            filter: invert(1);
}
#aside .form > * {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
    height: 45px;
    font-size: 0.8em;
    border-radius: 5px;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-bottom: 1em;
}
#aside .form input {
    border: 2px solid var(--colorTextLight);
    padding: 5px;
    height: 30px;
}
#aside .form button {
    background-color: var(--colorPrimary);
    color: var(--colorFootertext);
    font-family: var(--fontTitleArticle);
    font-weight: 600;
    border: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#aside .form button:hover {
    cursor: pointer;
    box-shadow: -3px 3px 8px 0 rgba(21,21,24,.34);
}
#aside .search * {
    margin-left: 0;
    margin-right: 0;
}
#aside .search {
    max-width: 500px;
}


/* FOOTER */
    /* Footer 1 */
#footer .footer-1 {
    background-color: var(--colorPrimary);
    color: var(--colorFootertext);
    font-family: var(--fontTitleArticle);
    padding: 20px;
}
#footer .footer-col {
    margin-bottom: 50px;
}
#footer .col-title {
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}
#footer .list-footer {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    line-height: 1.5;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
}
#footer .list-footer-articles {
    line-height: 1.5;
}
#footer .item-footer {
    margin-bottom: 7px;
}
#footer .item-footer-articles {
    margin-bottom: 20px;
}
#footer .footer-url,
#footer .footer-url-bg {
    color: var(--colorFootertext);
    font-family: var(--fontTitleArticle);
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 8px;
    padding-left: 8px;
    margin-bottom: 15px;
    margin-top: 15px;
}
#footer .footer-url:hover {
    color: var(--colorSecondary);
}
#footer .footer-url-bg {
    font-weight: 400;
    font-size: 13px;
}
#footer .footer-url {
    font-weight: 500;
    font-size: 16px;

}
#footer .footer-url-bg:hover {
    background-color: var(--colorSecondary);
    color: var(--colorPrimary);
}
    /* Footer 2 */
#footer .footer-2 {
    background-color: var(--colorBottom);
    padding: 20px;
}
#footer .bottom-footer-url {
    font-family: var(--fontTitleArticle);
    color: var(--colorFooterBottomtext);
    font-weight: 300;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 13px;
}
#footer .bottom-footer-url:hover {
    color: var(--colorSecondary);
}
#footer .copyright {
    color: var(--colorFooterBottomCopy);
    font-family: var(--fontSubTitleArticle);
    font-weight: 500;
    font-size: 14px;
    margin-top: 20px;
}


/* PAGE CONTACT */
.bar.container-contact-title{
    padding-top:16px;
    padding-bottom:16px;
    padding-right:10px;
    padding-left:10px;
    border-bottom: 1px solid var(--colorBgLight) ;
    margin-top:10px;
}
.bar.h2-contact{
    font-family: var(--fontTitleArticle);
    font-weight:500;
    font-size:30px;
    margin-bottom:10px;
}
#contact-faq .container-contact-explication{
    margin-top:40px;
    text-align:justify;
    margin-left:10px;
    margin-right:20px;
}
#contact-faq .para-contact{
   font-family: var(--fontText);
   font-size:16px;
   line-height:1.5;
}
#contact-faq .container-formulaire-contact{
    width:96%;
    margin-left: auto;
    margin-right: auto;
}
#contact-faq .formulaire-title{
    font-family:var(--fontSubTitleArticle);
    font-size:21px;
    font-weight:600;
    margin-top:30px;
    margin-bottom:20px;
}
#contact-faq .formulaire-explication{
    font-family:var(--fontSubTitleArticle);
    font-size:16px;
    font-weight:600;
    margin-bottom:20px;
}
#contact-faq .label-formulaire-contact{
    font-family:var(--fontText);
    color:var(--colorTextLight);    
}
#contact-faq .input-formulaire-contact{
    border: 2px solid var(--colorBgLight);
    border-radius:7px;
    width:100%;
    height:40px;
    margin-top:5px;
    font-size: 1em;
    padding: 0em 0.5em;    
}
#contact-faq .textarea-formulaire-contact{
    border: 2px solid var(--colorBgLight);
    border-radius:7px; 
    width:100%;
    height:100px;
    margin-top:5px; 
    margin-bottom:20px;  
}
#contact-faq .formulaire-middle{
    width:98%;
    margin-left: auto;
    margin-right: auto;
    margin-top:15px;
}
#contact-faq .fichier-contact{
    font-family:var(--fontText);
    color:var(--colorTextLight);    
    margin-bottom:20px;
    font-size:16px;
}
#contact-faq .button-formulaire-contact{
    background-color:var(--colorPrimary);
    width:135px;
    padding-top:12px;
    padding-bottom:12px;
    color:white;
    font-family: var(--fontText);
    font-weight:500;
    font-size:16px;
    border-radius:8px;
    border: 2px solid var(--colorPrimary);
    margin-top:20px;
    margin-bottom:40px;
}
#contact-faq .button-formulaire-contact:hover{
    cursor:pointer;
    box-shadow: -5px 6px 8px lightgrey;
}

#contact-faq .small {
    font-size: 0.8em;
    font-weight: 600;
    color: var(--colorPrimary);
}

/* NAV JS */
/* The Overlay (background) */
#nav .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    right: 0;
    top: 0;
    background-color: white;
    /* Black fallback color */
    background-color: white;
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.3s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
#nav .overlay-content {
    position: relative;
    top: 2vh;
    /* 25% from the top */
    margin: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
    border-bottom: 1px solid var(--colorBgLight);
    padding-bottom: 1em;
}

/* The navigation links inside the overlay */
#nav .overlay a {
    font-family: var(--fontTitleArticle);
    font-size: 1.5em;
    font-weight: 400;
    padding: 8px;
    text-decoration: none;
    color: var(--colorPrimary);
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
    white-space: nowrap;
    /* prevent the text to go on the next line when the width of nav changes */
}

/* When you mouse over the navigation links, change their color */
#nav .overlay a:hover, .overlay a:focus {
    color: var(--colorSecondary);
  }

#nav .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    color: white;
    background-color: var(--colorPrimary);
    padding: 0;
    height: 25px;
    width: 25px;
    text-align: center;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {

    #nav .overlay .closebtn {
        top: 15px;
        right: 35px;
    }
}



/* MEDIA */
@media only screen and (min-width: 700px) {
    /* System Grid MAIN */
    #page {
        display: grid;
        grid-template-columns: 90%;
        -webkit-box-pack: center;
                justify-content: center;
    }
    /* article/top */
    main .top-card {
        display: -webkit-box;
        display: flex;
    }
    main .top-card-text .tag-word {
        margin-top: 0em;
    }
    .top-card-text {
        padding: 0em;
    }
    .top-card-img {
        width: 130%;
        margin-right: 1em;
    }
    main .top-card-img img {
        border-radius: 5px;
    }
    .img-art {
        width: auto;
        margin: 1.1em 0.5em;
    }
    .article>* {
        margin: 0.5em;
    }
    /* Mini-cards CSS */
    #mini-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2em;
    }
    #mini-cards .title-minicard {
        grid-column: span 2;
    }
    /* Home - List Articles */
    #article .card-article .image {
        border-radius: 5px;
    }


}

@media only screen and (min-width: 900px) {
    /* NAV */
    #nav #header > *:not(.menu) a  {
        -webkit-transition: color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out;
    }
    #nav #header > *:not(.menu) a:hover {
        color: var(--colorSecondary)
    }
        /* nav1 */
    #nav #header .burger {
        display: none;
    }
    #nav #header .shopping {
        -webkit-box-ordinal-group: 3;
                order: 2;
    }
    #nav #header .menu {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: start;
                justify-content: flex-start;
        -webkit-box-flex: 100;
                flex-grow: 100;
    }
    #nav #header .menu ul {
        display: -webkit-box;
        display: flex;
        font-family: var(--fontTitleArticle);
        font-size: 0.6em;
        font-weight: 600;
    }
    #nav #header .menu li {
        margin-left: 20px;
        border: 2px solid var(--colorPrimary);
        -webkit-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }
    #nav #header .menu li:hover {
        color: var(--colorSecondary);
        border: 2px solid var(--colorSecondary);
    }
    #nav #header .menu li a {
        padding: 12px 18px;
        font-size: 1.2em;
        line-height: 100%;
    }
    #nav #header .menu li span {
        margin-left: 10px;
        font-size: 0.7em;
    }
    #nav #header .center{
        -webkit-box-flex: 0;
                flex-grow: 0;
    }
    #nav #header .menu li.red {
        border: 2px solid var(--colorSecondary);
        background-color: var(--colorSecondary);
        color: var(--colorFootertext);
        -webkit-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }
    #nav #header .menu li.red:hover {
        color: var(--colorSecondary);
        background-color: var(--colorFootertext);
    }
    /* System Grid MAIN */
    #page {
        grid-template-columns: 55% 30%;
        grid-column-gap: 3%;
        max-width: var(--maxWidth);
        margin: auto;
    }
    /* article/top */
    #page .bar {
        grid-column: span 2;
    }
    .date-art  {
        font-size: 1em;
    }
    .top-card-img {
        width: 165%;
    }
    .img-art {
        width: auto;
    }
    .title-art {
        font-size: 2.6em;
    }
    /* Mini-cards CSS */
    #mini-cards {
        grid-template-columns: repeat(3, 1fr);
    }
    #mini-cards .title-minicard {
        grid-column: span 3;
    }
    #mini-cards .minicard-img {
        height: 15vh;
    }
    /* Aside */
    #aside {
        margin-top: 2em;
    }
    #aside .search {
        position: -webkit-sticky;
        position: sticky;
        top: 2em;
    }
    /* Footer */
    #footer .footer-1 {
        padding-top: 30px;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
                justify-content: space-between;
        padding-left: 50px;
        padding-right: 50px;
    }
    #footer .footer-col {
        width: 33.3%;
        height: auto;
        margin: 20px;
    }
    #footer .col-title {
        margin-top: 0px;
    }
    #footer .footer-2 {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
                justify-content: space-between;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
    }
    #footer .copyright {
        margin-top: 0px;
    }
}



@media only screen and (min-width:1300px) {
    /* Footer */
    #footer .footer-1 {
        -webkit-box-pack: center;
                justify-content: center;
    }
    #footer .footer-col {
        width: 25%;
        margin: 0px;
    }
    #footer .footer-2{
        padding-left:10%;
        padding-right:10%;
    }
}